@media only screen and (min-width: 600px) {
    #home {
        margin: 0 2% auto;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #home {
        margin: 0 5% auto;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #home {
        margin: 0 7% auto;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    #home {
        margin: 0 9% auto;
    }
}