* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-top: 64px;
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #root {
      margin: 0 3% auto;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  #root {
      margin: 0 4% auto;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #root {
      margin: 0 8% auto;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #root {
      margin: 0 10% auto;
    }

    #nav1 {
      padding: 0 10%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  #root {
      margin: 0 12% auto;
    }
    #nav1 {
      padding: 0 12%;
    }
}